<h3> FormGroup Example </h3>
<div *ngIf="userForm.invalid && !formSubmitted" [ngClass]="'error'"> Form not validated. </div>
<div *ngIf="formSubmitted" [ngClass]="'success'"> Form submitted successfully. </div> <br />
<div>
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div>
      Name: <input formControlName="name" placeholder="Enter Name">
      <label *ngIf="userName.invalid" [ngClass]="'error'">
        Name is required with 10 max character.
      </label>
    </div>

    <div>
      Age: <input formControlName="age" placeholder="Enter Age">
      <label *ngIf="userForm.get('age')!.invalid" [ngClass]="'error'">
        Age is required.
      </label>
    </div>

    <div formGroupName="address">
      <div>
        House Number: <input formControlName="houseNumber" placeholder="Enter House Number">
        <label *ngIf="userForm.get('address')!.get('houseNumber')!.invalid" [ngClass]="'error'">
          House Number is required.
        </label>
      </div>
      <div>
        City: <input formControlName="city" placeholder="Enter City">
      </div>
      <div>
        Country: <input formControlName="country">
      </div>
    </div>

    <div>
      Select Gender:
      <input type="radio" formControlName="gender" value="male"> Male
      <input type="radio" formControlName="gender" value="female"> Female
    </div>

    <div>
      Select Profile:
      <select formControlName="profile">
        <option *ngFor="let pf of profiles" [ngValue]="pf.shortName">
          {{ pf.name }}
        </option>
      </select>
    </div>

    <br />

    <div formArrayName="users">
      <div *ngFor="let user of users.controls; index as idx">
        <input [formControlName]="idx" placeholder="Enter User Name">
        <button type="button" (click)="deleteUserField(idx)">Delete</button>
      </div>
    </div>
    <button type="button" (click)="addUserField()">Add More User</button>

    <br /><br />

    <div>
      <button type="submit">Submit</button>
      <button type="button" (click)="setAge()">Set Age</button>
      <button type="button" (click)="setCountry()">Set Country</button>
      <button type="button" (click)="setDefaultValue()">Set Defaults</button>
      <button type="button" (click)="resetForm()">Reset to Blank</button>
    </div>
  </form>

  <div>
    <p *ngIf="usrNameChanges">Name: <b>{{usrNameChanges}}</b> </p>
    <p *ngIf="usrNameStatus">Name Status: <b>{{usrNameStatus}}</b> </p>
  </div>