/* You can add global styles to this file, and also import other style files */
.post-highlights1 {
  background-color: #F5D0A9;
  color: #0000FF;
  width: 275px;
  height: 150px;
}

.post-highlights2 {
  background-color: #0B3861;
  color: #F2F2F2;
  width: 275px;
  height: 150px;
}
