<h3>Template Driven Form</h3>
<p *ngIf="isValidFormSubmitted" [ngClass]="'success'">
  Form submitted successfully.
</p>
<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input name="userName" [ngModel]="user.userName" required minlength="5" #uname="ngModel">
        <div *ngIf="uname.errors?.['required'] && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Name required.
        </div>
        <div *ngIf="uname.errors?.['minlength'] && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Name must be at least 5 characters long.
        </div>
      </td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <input type="radio" value="male" name="gender" [ngModel]="user.gender" required #gender="ngModel"> Male
        <input type="radio" value="female" name="gender" [ngModel]="user.gender" required #gender="ngModel"> Female
        <div *ngIf="gender.invalid && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Gender required.
        </div>
      </td>
    </tr>
    <tr>
      <td>Select Profile: </td>
      <td>
        <select name="profile" [(ngModel)]="user.profile" required #profile="ngModel">
          <option [ngValue]="null" disabled>Select a profile</option>
          <option *ngFor="let prf of allProfiles" [ngValue]="prf">
            {{ prf.prName }}
          </option>
        </select>
        <div *ngIf="profile.invalid && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Profile required.
        </div>
      </td>
    </tr>
    <tr>
      <td>Accept T & C </td>
      <td>
        <input type="checkbox" name="isTCAccepted" [ngModel]="user.isTCAccepted" required #tc="ngModel">
        <div *ngIf="tc.invalid && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Accept T & C.
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button>Submit</button>
      </td>
    </tr>
  </table>
</form>