/* You can add global styles to this file, and also import other style files */
.employee {
  border: 2px solid blue;
  width: 275px;
}

.error {
  color: red;
}

.submitted {
  color: green;
  font-size: 20px;
}
