Logo: <img [src]="website.logo" />

<br />Logo: <img bind-src="website.logo" />

<br />Logo: <img src="{{website.logo}}" />

<br />Url: <a [href]="website.url" [textContent]="website.name"> </a>

<br />Url: <a bind-href="website.url" bind-textContent="website.name"> </a>

<br />Url: <a href="{{website.url}}" textContent="{{website.name}}"> </a>

<p [textContent]="website.description"> </p>

<p bind-textContent="website.description"> </p>

<p textContent="{{website.description}}"> </p>

<br /><button [disabled]="flag">Submit</button>

<br /><button bind-disabled="!flag">Submit</button>

<p [ngClass]="'one two'"> Angular 2 Property Binding Example </p>

<p bind-ngClass="'one two'"> Angular 2 Property Binding Example </p>

<p ngClass="{{'one two'}}"> Angular 2 Property Binding Example </p>

<br /><my-msg prefixMsg="Website name is " [siteName]="website.name"> </my-msg>

<br /><my-msg prefixMsg="Website name is " bind-siteName="website.name"> </my-msg>

<br /><my-msg prefixMsg="Website name is " siteName="{{website.name}}"> </my-msg>
