/* You can add global styles to this file, and also import other style files */
.employee {
  border: 2px solid blue;
  width: 275px;
}

.department {
  border: 2px solid blue;
  width: 275px;
}

.team {
  border: 1px solid black;
  width: 300px;
}

.all-emp {
  border: 3px solid black;
  width: 275px;
}

.error {
  color: red;
}

.submitted {
  color: green;
  font-size: 20px;
}