<h3>User Form</h3>
<p *ngIf="isValidFormSubmitted" class="success">
  Form submitted successfully.
</p>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input formControlName="userName">
        <div *ngIf="userName?.errors && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
          <div *ngIf="userName?.errors?.['required']">
            Username required.
          </div>
          <div *ngIf="userName?.errors?.['maxlength']">
            Username can be max 15 characters long.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>
        <input formControlName="age" type="number">
      </td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <input type="radio" value="male" formControlName="gender"> Male
        <input type="radio" value="female" formControlName="gender"> Female
        <div *ngIf="gender?.errors && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
          <div *ngIf="gender?.errors?.['required']">
            Gender required.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Are you married? </td>
      <td>
        <input type="checkbox" formControlName="isMarried">
      </td>
    </tr>
    <tr>
      <td>Accept T & C </td>
      <td>
        <input type="checkbox" formControlName="tc">
        <div *ngIf="tc?.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
          Accept T & C.
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button>Submit</button>
        <button type="button" (click)="setUserValues()">Set User values</button>
        <button type="button" (click)="patchUserValues()">Patch User values</button>
      </td>
    </tr>
  </table>
</form>