<h3>Create New Team</h3>
<div *ngIf="isValidFormSubmitted" class="submitted"> Form submitted successfully. </div>
<div class="team">
  <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
    <p>Team Name :
      <input formControlName="teamName">
      <br />
      <label *ngIf="teamName?.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
        Team name is required.
      </label>
    </p>

    <div class="all-emp">
      <b>Employees in Team:</b>
      <br><br>
      <div formArrayName="employees">
        <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i" class="employee">
          <p><b>Employee : {{i + 1}}</b></p>
          <p>Emp Id :
            <input formControlName="empId">
          </p>
          <p>Emp Name :
            <input formControlName="empName">
          </p>
          <p>Skill :
            <select formControlName="skill">
              <option *ngFor="let skill of allSkills | async" [ngValue]="skill.name">
                {{ skill.displayName }}
              </option>
            </select>
          </p>
          <p>
            <button type="button" (click)="deleteEmployee(i)">Delete</button>
          </p>
        </div>
      </div>
      <button type="button" (click)="addEmployee()">Add More Employee</button>
    </div>
    <br />
    <button>SUBMIT</button>
    <button type="button" (click)="setEmployeeValues()">SET VALUE</button>
    <button type="button" (click)="patchEmployeeValues()">PATCH VALUE</button>
    <button type="button" (click)="resetTeamForm()">RESET</button>
  </form>
</div>
