:host /deep/ h3 {
  color: yellow;
  font-style: italic;
}

:host>>>p {
  color: white;
  font-style: Monospace;
  font-size: 20px;
}

:host {
  position: absolute;
  top: 10%;
  border: 5px solid red;
  background-color: silver;
  width: 300px;
  height: 400px;
}